.design {
    background: #F9F5FF;
    color: #6941C6;
}
.research {
    background: #EEF4FF;
    color: #3538CD;
}
.product {
    background: #F0F9FF;
    color: #026AA2;
}
.software {
    background: #ECFDF3;
    color: #027A48;
}
.tools {
    background: #FDF2FA;
    color: #C11574;
}
.leadership {
    color: #6941C6;
    background: #F9F5FF;
}
.management {
    color: #363F72;
    background: #F8F9FC;
}
.leadership {
    color: #6941C6;
    background: #F9F5FF;
}
.frameworks {
    color: #B93815;
    background: #FFF4ED;
}
.sass {
    background: #FFF1F3;
    color: #C01048;
}
.presentation {
    color: #C11574;
    background: #FDF2FA;
}
.tag {
    padding: 2px 10px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
}