.deliverer-card {
    margin-bottom: 30px;
    padding: 0 20px;
    &__container {
        width: 1184px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        gap: 56px;
        border-bottom: 1px solid rgba(43, 43, 42, 0.1);
        border-radius: 2px;
        padding-bottom: 40px;
    }
    &__img {
            position: relative;
            height: 120px;
            img {
                margin-top: 10px;
            }
            &::after {
                content: '';
                width: 110px;
                height: 110px;
                position: absolute;
                left: 50%;
                top: 0px;
                transform: translateX(-50%);
                background: #FFFFFF;
                border: 3px solid rgba(52, 112, 255, 0.2);
                border-radius: 100px;
                z-index: -1;
            }
            img {
                width: 96px;
                height: 96px;
            }
            .premium {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -10px;
            }
    }
    &__data {
        display: flex;
        justify-content: space-between;
    }
    &__info {
        display: flex;
        width: 516px;
        max-width: 100%;
        justify-content: space-between;
    }
    &__company {
        color: #8A8A89;
        font-size: 16px;
        display: flex;
        align-items: center;
    }
    &__details {
        display: flex;
        align-items: center;
        gap: 16px;
        .divider {
            height: 16px;
            border: 1px solid rgba(43, 43, 42, 0.2);
        }
        .location {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        .rating {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        .price {
            span {
                color: #38CD3E;
                
            }
        }
    }
    &__status {
        width: 109px;
        height: 34px;
        border-radius: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.red {
            color: red;
            background: #f3f3f3;
        }
        &.green {
            color: green;
            background: #EEFFE7;
        }
    }
    &__name {
        font-weight: 500;
        font-size: 24px;
        color: #2B2B2A;
        margin-bottom: 10px;
    }
    &__specialization {
        color: #8A8A89;
        margin-bottom: 32px;
        a {
            color: #2B2B2A;
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }
    &__description {
        margin-bottom: 32px;
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #2B2B2A;
        }
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 118px;
            height: 40px;
            padding: 8px 16px;
            border: 1px solid #8A8A89;
            border-radius: 35px;
            transition: .4s all;
            &:hover {
                background-color: #3470FF;
                color: white;
            }
        }
    }
}


@media (max-width: 962px) {
    .deliverer-card {
        &__container {
            gap: 20px;
        }
        &__info {
           width: 446px;
        }
    }
    
}

@media (max-width: 720px) {
    .deliverer-card {
        &__container {
            flex-direction: column;
        }
        &__img {
            img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__name {
            margin-top: 10px;
            text-align: center;
        }
        &__specialization {
            text-align: center;
        }
        &__data {
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        &__tags {
            justify-content: center;
        }
        &__info {
            display: block;
        }
        &__details {
            justify-content: center;
            margin-top: 10px;
        }
        &__status {
            margin: 10px auto 0px;
        }
    }
}

@media (max-width: 355px) {
    .deliverer-card {
        &__details {
            flex-direction: column;
            .divider {
                display: none;
            }
        }
    }
}