.main-page__filter {
  position: relative;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;
  z-index: 1;
  .filter {
    &__container {
      padding: 32px 24px;
      width: 900px;
      max-width: 100%;
      min-height: 180px;
      background: #ffffff;
      position: relative;
      margin: 0 auto;
      box-shadow: 0px 9px 34px rgba(58, 68, 83, 0.24);
      border-radius: 6px;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__cta {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      .search-result {
        color: #808080;
        span {
          color: $colorPrimary;
        }
      }
      .btns {
        display: flex;
        gap: 10px;
        button {
          &:nth-child(1) {
            padding: 12px 20px;
            text-align: center;
            width: 120px;
            max-width: 100%;
            background: transparent;
            color: $colorPrimary;
            border-radius: 4px;
            border: 1px solid $colorPrimary;
          }
        }
      }
      .search-btn {
        padding: 12px 20px;
        text-align: center;
        width: 120px;
        max-width: 100%;
        color: white;
        background: $colorPrimary;
        border-radius: 4px;
        border: none;
      }
    }
  }
  label {
    margin-bottom: 10px;
  }
  .make {
    display: flex;
    flex-direction: column;
    select {
      width: 184px;
      max-width: 100%;
    }
  }
  .engine {
    display: flex;
    flex-direction: column;
    select {
      width: 184px;
      max-width: 100%;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    select {
      width: 184px;
      max-width: 100%;
    }
  }
  .year {
    display: flex;
    flex-direction: column;
    &-selects {
      display: flex;
      gap: 10px;
      select {
        width: 100px;
        max-width: 100%;
      }
    }
  }
}

input {
  background: #f1f1f1;
  border-radius: 2px;
}
.default-select {
  -webkit-appearance: none;
  border: none;
  max-width: 100%;
  padding: 6px 10px 6px 10px;
  border-radius: 2px;
  font-size: 16px;
  color: #2b2b2a;
  background: url('data:image/svg+xml;charset=utf-8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M6 9L12 15L18 9" stroke="#{$colorPrimary}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>')
    no-repeat center right 4px;
  background-size: 24px;
  background-color: #f1f1f1;
}

@media (max-width: 659px) {
  .catalog {
    .main-page__filter {
      .filter {
        &__container {
          width: 328px;
          margin-top: 10000px;
        }
        &__items {
          justify-content: space-between;
        }
      }
    }
  }
}
