.form {
    min-height: 100vh;
    padding: 96px 0;
    margin: 0 auto;
    width: 480px;
    max-width: 100%;
    &__link {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #7F56D9;
        margin-bottom: 12px;
    }
    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #101828;


    }
    &__subtitle {
        margin-top: 24px;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        color: #475467;

    }
    & form {
        margin-top: 96px;
        .username {
            display: flex;
            justify-content: space-between;
            &__item {
                display: flex;
                gap: 8px;
                flex-direction: column;
                input {
                    width: 224px;
                    height: 44px;
                    padding: 10px 14px;
                    background: #FFFFFF;
                    border: 1px solid #D0D5DD;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 8px;
                }
            }
        }
        .input {
            height: 44px;
            background: #FFFFFF;
            border: 1px solid #D0D5DD;
            box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
            border-radius: 8px;
            padding: 10px 14px;
        }
        .label {
            font-size: 14px;
            line-height: 20px;
            color: #344054;
            
        }
        & .email {
            margin-top: 24px;
            display: flex;
            gap: 8px;
            flex-direction: column;
        }
        & .phone {
            margin-top: 24px;
            display: flex;
            gap: 8px;
            flex-direction: column;
        }
        & .message {
            margin-top: 24px;
            display: flex;
            gap: 8px;
            flex-direction: column;
            textarea {
                padding: 12px 14px;
                gap: 8px;
                height: 134px;
                background: #FFFFFF;
                border: 1px solid #D0D5DD;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                border-radius: 8px;
                resize: none;
            }
        }
        & .privacy {
            margin-top: 24px;
            display: flex;
            gap: 12px;
            align-items: center;
            input {
                width: 20px;
                height: 20px;    
                background: #FFFFFF;
                border: 1px solid #D0D5DD;
            }
            label {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #475467;
                a {
                    color: #475467;
                    text-decoration-line: underline;
                    text-underline-offset: 3.5px;
                    
                }
            }
        }
    }
    button {
        margin-top: 32px;
        padding: 12px 20px;
        gap: 8px;
        width: 480px;
        max-width: 100%;
        height: 48px;
        background: #7F56D9;
        border: 1px solid #7F56D9;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        color: white;
    }
}

@media (max-width: 516px) {
    .form {
        padding: 46px 16px;
        &__title {
            font-size: 38px;
        }
        &__subtitle {
            font-size: 16px;
        }
        & form {
            margin-top: 20px;
            .username {
                flex-direction: column;
                gap: 8px;
                &__item {
                    &:nth-child(2) {
                        margin-top: 12px;
                    }
                }
                input {
                    width: 100%;
                }
            
            }
        }
    }
}