.buy {
  padding-left: 200px;
  margin-top: 270px;
  margin-bottom: 50px;
  // position: relative;
  &__container {
    width: 1200px;
    padding: 0 20px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
  }
  &__director {
    img {
      width: 600px;
      max-width: 100%;
    }
  }

  &__points {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    &-item {
      width: 210px;
      display: flex;
      flex-direction: column;
      &:last-child {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dotted red;
        font-size: 22px;
        font-weight: bold;
        height: 210px;
        border: 1px dashed #cd0000;
        border-radius: 9px;
      }
      .title {
        font-size: 20px;
        color: black;
        font-weight: bold;
      }
      .descr {
        color: #8b8b8b;
        margin-top: 10px;
      }
      svg {
        width: 70px;
        height: 60px;
      }
      img {
        margin-bottom: 10px;
      }
    }
  }
  &__info {
    .title {
      &:nth-child(1) {
        padding-left: 20px;
        font-size: 28px;
        color: black;
        font-weight: bold;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 1079px) {
  .buy {
    padding-left: 0px;
  }
}

@media (max-width: 822px) {
  .buy {
    margin-top: 350px;
    &__director {
      display: none;
    }
  }
}

@media (max-width: 734px) {
  .buy {
    margin-top: 400px;
  }
}

@media (max-width: 547px) {
  .buy {
    margin-top: 450px;
  }
}

@media (max-width: 510px) {
  .buy {
    margin-top: 500px;
  }
}

@media (max-width: 440px) {
  .buy {
    margin-top: 680px;
    &__points {
      gap: 20px;
    }
    &__info {
      .title {
        &:nth-child(1) {
          font-size: 24px;
          padding-left: 0;
        }
      }
    }
  }
}

@media (max-width: 343px) {
  .buy {
    margin-top: 720px;
  }
}

@media (max-width: 328px) {
  .buy {
    margin-top: 750px;
  }
}

@media (max-width: 307px) {
  .buy {
    margin-top: 830px;
  }
}

@media (max-width: 299px) {
  .buy {
    margin-top: 850px;
    &__info {
      .title {
        &:nth-child(1) {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 281px) {
  .buy {
    margin-top: 880px;
    &__info {
      .title {
        &:nth-child(1) {
          font-size: 20px;
        }
      }
    }
  }
}
