.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 15;
  transform: translate(-50%, -50%);
  display: none;
  width: 100vw;
  min-height: 100vh;
  z-index: 1000000;
  &.active {
    display: block;
  }
  &__overlay {
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    background: #ffffff;
    box-shadow: 0px 9px 34px rgba(58, 68, 83, 0.24);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    min-height: 315px;
    max-width: 98%;
    padding: 24px;
    position: relative;
    z-index: 6;
    .title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 12px;
    }
    input {
      border: none;
      padding: 8px 16px;
      margin-top: 8px;
      margin-bottom: 12px;
      outline: none;
    }
    button {
      margin-top: 10px;
      padding: 12px 16px;
      border: none;
      width: 339px;
      max-width: 100%;
      color: white;
      background: #cd0000;
      border-radius: 4px;
    }
    .checkbox {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      input {
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
      }
    }
    a {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
    .close-modal {
      cursor: pointer;
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: white;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
      font-size: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(45deg);
    }
  }
}

@media (max-width: 390px) {
  .modal {
    &__content {
      padding: 20 10px;
      .title {
        font-size: 24px;
      }
      .close-modal {
        right: -5px;
      }
    }
  }
}
