.page-not-found {
    margin: 50px 0;
    margin-left: 200px;
    color: $colorPrimary;
    font-size: 60px;
    text-align: center;
  }
  
  @media (max-width: 1079px) {
    .page-not-found {
      margin-left: 0;
    }
  }
  