.review {
  padding-top: 40px;
  margin-left: 200px;
  padding-bottom: 40px;
  &__container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__videos {
    display: grid;
    gap: 35px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 350px);
  }
  &__item {
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    iframe {
      width: 350px;
      max-width: 100%;
      min-height: 200px;
      border: none;
    }
    .rating {
      margin-top: 10px;
    }
  }
  &__title {
    font-size: 40px;
    padding-left: 20px;
    margin: 40px 0;
  }
  .breadcrumbs {
    padding-left: 20px;
    display: flex;
    gap: 10px;
    a {
      color: #8b8b8b;
    }
  }
  &__tabs {
    width: 1120px;
    max-width: 100%;
    margin-left: 20px;
    display: flex;
    gap: 28px;
    position: relative;
    margin-bottom: 30px;
    &::after {
      content: '';
      height: 2px;
      width: 100%;
      background-color: #e2e2e2;
      position: absolute;
      left: 0;
      bottom: -20px;
    }
    &-item {
      cursor: pointer;
      position: relative;
      &::after {
        content: '';
        height: 2px;
        width: 102%;
        background-color: #e2e2e2;
        position: absolute;
        left: 0;
        bottom: -20px;
        z-index: 2;
      }
      &.active::after {
        position: absolute;
        left: 0;
        bottom: -20px;
        background-color: red;
        z-index: 3;
      }
    }
  }
}
.google-review {
  margin-top: 40px;
  display: grid;
  gap: 35px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 350px);
  margin-bottom: 40px;
}

.talking {
  margin-top: 40px;
  display: grid;
  gap: 35px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 350px);
  margin-bottom: 40px;
  iframe {
    border: none;
  }
}
