.slider {
  z-index: 3;
  &__container {
    margin-top: 100px;
    gap: 60px;
    background: #ffffff;
    z-index: 2;
  }
  &__card {
    display: flex;
    flex-direction: column;
    margin: 60px 10px;
    margin-left: 20px;
    height: 452px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    background: white;
    z-index: 1;
    .square {
      position: absolute;
      display: block;
      top: 50%;
      z-index: -10;
      transform: translateY(-50%);
      left: -60px;
      width: 300px;
      margin-left: 40px;
      height: 520px;
      border-top: 10px solid $colorPrimary;
      border-left: 10px solid $colorPrimary;
      border-bottom: 10px solid $colorPrimary;
      border-right: 10px solid $colorPrimary;
    }
    .content {
      padding: 60px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      background: white;
      gap: 40px;
      p {
        background: white;
        font-size: 25px;
        button {
          margin-top: 40px;
          width: 50px;
          height: 50px;
          margin-right: 10px;
          background: white;
          color: $colorPrimary;
          border-radius: 100%;
          border: 1px solid $colorPrimary;
          transition: 0.3 all;
          &:hover {
            background: $colorPrimary;
            color: white;
          }
        }
        .right {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          &:hover {
            svg {
              path {
                stroke: white;
              }
            }
          }
          svg {
            transform: rotate(-90deg);
          }
        }
        .left {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          &:hover {
            svg {
              path {
                stroke: white;
              }
            }
          }
          svg {
            transform: rotate(90deg);
          }
        }
        span {
          margin-top: 20px;
          display: block;
          position: relative;
          margin-left: 90px;
          font-weight: bold;
          &::before {
            content: '';
            width: 30px;
            height: 30px;
            background: $colorPrimary;
            position: absolute;
            top: 0px;
            left: -75px;
            transform: translateX(-50%);
          }
          &::after {
            content: '';

            height: 2px;
            width: 60px;
            position: absolute;
            background: black;
            top: 50%;
            left: -75px;
            transform: translateY(-50%);
          }
        }
      }
      div {
        position: relative;
        img {
          width: 330px;
          height: 330px;
          object-fit: cover;
        }
        &:nth-child(1) {
          &::after {
            position: absolute;
            top: -25px;
            right: -30px;
            content: '';
            display: block;
            width: 360px;
            height: 360px;
            border-top: 10px solid $colorPrimary;
            border-right: 10px solid $colorPrimary;
            border-bottom: 10px solid $colorPrimary;
          }
        }
      }
    }
  }
}

@media (max-width: 856px) {
  .slider {
    min-height: 800px;
    &__container {
      margin-top: 20px;
    }
    &__card {
      height: 100%;
      .square {
        display: none;
      }
      .content {
        flex-direction: column;
        div {
          &:nth-child(1) {
            &::after {
              border-right: none;
              border-left: 10px solid $colorPrimary;
              left: -30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 490px) {
  .slider {
    min-height: 800px;
    &__container {
      margin-top: 20px;
    }
    &__card {
      height: 100%;
      .square {
        display: none;
      }
      .content {
        flex-direction: column;
        p {
          font-size: 22px;
        }
        div {
          display: flex;
          img {
            max-width: 95%;
            margin: 0 auto;
          }
          &:nth-child(1) {
            &::after {
              border-right: none;
              border-left: 10px solid $colorPrimary;
              left: -30px;
              max-width: 105%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 443px) {
  .slider {
    &__card {
      .content {
        padding: 60px 40px;
        div {
          img {
            width: 270px;
            height: 270px;
          }
          &:nth-child(1) {
            &::after {
              width: 290px;
              height: 300px;
              left: -20px;
            }
          }
        }
        p {
          span {
            &:after {
              top: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .slider {
    &__card {
      .content {
        p {
          font-size: 20px;
          span {
            margin-left: 60px;
            &::before {
              top: 7px;
              left: -61px;
            }
            &::after {
              left: -58px;
              top: 22px;
            }
          }
        }
      }
    }
  }
}
