.footer {
  margin-top: 30px;
  margin-left: 200px;
  background: #ffffff;
  box-shadow: 0px -1px 0px #f4f4f4;
  &__container {
    width: 1200px;
    max-width: 100%;
    display: flex;
    padding: 32px 0px;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: space-between;
  }
  &__title {
    color: #000000;
    font-size: 24px;
    margin-bottom: 8px;
  }
  &__descr {
    max-width: 325px;
    color: #8b8b8b;
    margin-bottom: 12px;
  }
  &__address {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__phone {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding-top: 35px;
    padding-left: 30px;
    a {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  &__email {
    padding-left: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

@media (max-width: 1420px) {
  .footer {
    &__container {
      padding: 32px 16px;
    }
  }
}

@media (max-width: 1079px) {
  .footer {
    margin-left: 0px;
    &__container {
      flex-wrap: wrap;
      padding-left: 42px;
      padding-right: 42px;
    }
  }
}

@media (max-width: 850px) {
  .footer {
    &__email {
      padding-left: 0;
    }
  }
}

@media (max-width: 850px) {
  .footer {
    &__email {
      margin-top: 10px;
    }
  }
}

@media (max-width: 591px) {
  .footer {
    &__phone {
      padding-left: 0;
    }
  }
}

@media (max-width: 465px) {
  .footer {
    &__email {
      margin-top: 20px;
    }
  }
}

@media (max-width: 390px) {
  .footer {
    &__email {
      margin-top: 20px;
    }
    &__container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
