@import 'variables.module.scss';
@import 'block/header.scss';
@import 'block/filter.scss';
@import 'block/sidebarMenu.scss';
@import 'block/mainPage.scss';
@import 'block/popularCars.scss';
@import 'block/review.scss';
@import 'block/toseiFooter.scss';
@import 'block/contacts.scss';
@import 'block/contactsForm.scss';
@import 'block/information.scss';
@import 'block/benefits.scss';
@import 'block/howToBuy.scss';
@import 'block/modal.scss';
@import 'block/privacyPolicy.scss';
@import 'block/catalog.scss';
@import 'block/customRadio.scss';
@import 'block/customCheckbox.scss';
@import 'block/carSinglePage.scss';
@import 'block/reviewSlider.scss';
@import 'block/pageNotFound.scss';

* {
  margin: 0;
  box-sizing: border-box;
}
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
button {
  cursor: pointer;
}

